{% extends "VanessaMemberBundle::layout.html.twig" %}

{% block title %}Please check your email{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h3 class="align_header">Please check your email</h3>
           <br />
    </div>    
</div>
<div class="row">
   <div class="span9">
       <section class="content">
           <p style="margin-left: 30px">We've sent you an email that will allow you to reset your password quickly and easily. Please check your email now.</p>
       </section>
   </div> 
</div>
{% endblock body %}
