{% extends "VanessaMemberBundle::layout.html.twig" %}

{% block title %}Create a new password{% endblock %}

{% block body %}
<div class="row">
   <div class="span12">
        <h3 class="align_header">Create a new password</h3>
         <br />
   </div>    

   <div class="span9">
        {% include "VanessaMemberBundle:Reset:form.reset.password.change.html.twig" %}
   </div> 
    <div class="span3 pull-right">
        <div class="well well-hint">
            <h4><i class="icon-info-sign icon-white"></i>&nbsp; Password Hints? </h4>
            <br />
            <p class="pull-right">
                <ol>
                    <li>Provide a strong password with a combination of <span class="label label-info">letters</span> and <span class="label label-info">numbers</span>.</li>
                </ol>
            </p>            
        </div> 
    </div>         
</div>
{% endblock body %}
