<div class="well well-hint">
    <h4><i class="icon-info-sign icon-white"></i>&nbsp; Hint</h4>
    <br />
    <p class="pull-right">
            <ol style="list-style-type:square ">
                <li><span class="label label-important">Audio file</span> must be mp3.</li>
                <br />
                <li>The file size must not exceed <span class="label label-important">10 mega bytes</span>.</li>
            </ol>
    </p>
</div>  
