
<ul class="breadcrumb" style="margin-left: -15px">
    <li>
        <a href="{{ path('_welcome')}}" title="Home">Home</a> <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ path('vanessa_agency_content_owner_list')}}.html" title="Content owners list.">Content owners</a> <span class="divider">&raquo;</span>
    </li>
    <li class="active">{{ action }}</li>
</ul>

