{% extends "VanessaAgencyBundle::layout.reseller.html.twig" %}

{% block title %}Create a reseller{% endblock %}

{% block body %}
<div class="row">
   <div class="span12">
        <h3 class="align_header">Create a reseller</h3>
        <div class="span6">
           {% set vars = {'action': 'Create'} %}
           {% include 'VanessaAgencyBundle::breadcrumb.reseller.html.twig' with vars  %}
        </div>
   </div>    
   <div class="span9">
        {% include "VanessaAgencyBundle:Reseller:Form/form.create.html.twig" %}
   </div> 
   <div class="span3 pull-right">
       {% include "VanessaAgencyBundle:Reseller:Hint/form.create.html.twig" %}
   </div>     
</div>
{% endblock body %}
