<div class="well well-hint">
    <h4><i class="icon-info-sign icon-white"></i>&nbsp; Hint</h4>
    <br />
    <p class="pull-right">
            <ol style="list-style-type:square ">
                <li><span class="label label-important">Active</span> account means members, artists, songs linked to account are also active.</li>
                <br />
                <li><span class="label label-important">Locked</span> account means members, artists, songs linked to account are also inactive.</li>
                <br />
                <li><span class="label label-important">Deleted</span> account means members, artists, songs linked to account are also deleted, and can only be restored manually.</li>
            </ol>
    </p>
</div>  
