<div class="shift_30">
    <form class="form-horizontal" action="{{ path('_security_check') }}" method="POST">
        <legend><span class="label label-important">Info</span> <small>All form fields are required.</small></legend>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="username">Email address:</label>
                <div class="controls">
                    <input type="text" class="span3" id="username" name="_username" rel="popover" placeholder="john.smith@example.com" data-original-title="Username" data-validation-email-message="Invalid email address." required>
                    <span class="help-inline"><a href="#" data-toggle="tooltip" data-placement="right" title="Provide email address." data-original-title="Provide email address."><i class="icon-info-sign"></i></a></span>  
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password:</label>
                <div class="controls">
                    <input type="password" class="span3" id="password" name="_password" rel="popover" placeholder="password" minlength="5" data-validation-minlength-message="Password must have at least 5 characters" required>
                    <span class="help-inline"><a href="#" data-toggle="tooltip" data-placement="right" title="Password must have a minimum of at least 5 characters." data-original-title="Password must have a minimum of at least 5 characters."><i class="icon-info-sign"></i></a></span>  
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" name="submit" class="btn btn-warning" data-loading-text="Loading..." data-toggle="button"><strong>Login</strong> &nbsp;<i class="icon-white icon-circle-arrow-right"></i></button>
                <a href="{{ path('_welcome')}}" class="btn btn-small" data-toggle="button">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
