<div class="well well-hint">
    <h4><i class="icon-info-sign icon-white"></i>&nbsp; Hint</h4>
    <br />
    <p class="pull-right">
            <ol style="list-style-type:square ">
                <li><span class="label label-important">Activate</span>: will allow a member to be able to login.</li>
                <br />
                <li><span class="label label-important">Lock</span>: will disable/suspend a member and not allow them to login.</li>
                <br />
            </ol>
    </p>
</div>  
