<div class="well well-hint">
    <h4><i class="icon-info-sign icon-white"></i>&nbsp; Hint</h4>
    <br />
    <p class="pull-right">
            <ol style="list-style-type:square ">
                <li>Only <span class="label label-important">Active</span> users can login into the application.</li>
                <br />
                <li><span class="label label-important">Locked</span> users <strong>cannot</strong> login into the application, set user to locked when you want to suspend them.</li>
                <br />
                <li><span class="label label-important">Expired</span> users <strong>cannot</strong> login into the application, Every account expires after 12 months from the day it was created.</li>
                <br />
                <li><span class="label label-important">Deleted</span> users <strong>cannot</strong> login into the application, A deleted user account can only be restored manually, please consult administrator.</li>
            </ol>
    </p>
</div>  
