{% extends "VanessaArtistBundle::layout.html.twig" %}

{% block title %}Create new artist{% endblock %}

{% block body %}
<div class="row">
   <div class="span12">
        <h3 class="align_header">Create new artist</h3>
        <div class="span6">
           {% set vars = {'action': 'Create'} %}
           {% include 'VanessaArtistBundle::breadcrumb.html.twig' with vars  %}
        </div>
   </div> 
   {% if isIpad %}
    <div class="span12 pull-right">
        <div class="alert alert-info">
            <button class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Notice!</h4>
            We have detected that you are currently using an Ipad, Please note that you will not be able to
            upload artist images since the Ipad will not allow access to local files such as images
            or mp3s. We apologize for the inconvenience but there is nothing we can do at this point.
        </div>
    </div>        
   {% endif %}        
   <div class="span9">
      {% include "VanessaArtistBundle:Artist:Form/form.create.html.twig" %}
   </div> 
   <div class="span3 pull-right">
       {% include "VanessaArtistBundle:Artist:Hint/form.create.html.twig" %}
   </div>     
</div>
{% endblock body %}
