{% extends "VanessaMemberBundle::layout.html.twig" %}

{% block title %}Create a user{% endblock %}

{% block body %}
<div class="row">
   <div class="span12">
        <h3 class="align_header">Create a user</h3>
        <div class="span6">
           {% set vars = {'action': 'Create'} %}
           {% include 'VanessaMemberBundle::breadcrumb.html.twig' with vars  %}
        </div>
   </div>    
   <div class="span9">
        {% include "VanessaMemberBundle:Member:Form/form.create.html.twig" %}
   </div> 
   <div class="span3 pull-right">
     {% include "VanessaMemberBundle:Member:Hint/form.create.html.twig" %} 
   </div>  
</div>
{% block modal_info %}
         {% render url('vanessa_core_site_info_roles') %}  
{% endblock modal_info %}

{% endblock body %}
