<div class="modal hide fade in" id="payload_{{rxqueue.id}}">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Payload</h3>
  </div>
  <div class="modal-body">
      <form>
          <textarea rows="3" cols="10">{{rxqueue.body}}</textarea>
      </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>      
</div>


