<div class="well well-hint">
    <h4><i class="icon-info-sign icon-white"></i>&nbsp; Hint</h4>
    <br />
    <p class="pull-right">
            <ol style="list-style-type:square ">
                <li><span class="label label-important">Activate</span>: will allow content owner with all it's members, artist and songs to be active.</li>
                <br />
                <li><span class="label label-important">Lock</span>: will disable/suspend content owner and all it's members, artist and songs.</li>
                <br />
            </ol>
    </p>
</div>  
