.box_shadow_effect{
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    padding: 5px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#map_canvas{
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    padding: 2px;
}

.shift_30{
    margin-left: 30px;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
}

.breadcrumb{
    background-color: #FFF;
    padding-left: 15px;
}
