<div class="well well-hint">
    <h4><i class="icon-info-sign icon-white"></i>&nbsp; Hint</h4>
    <br />
    <p class="pull-right">
            <ol style="list-style-type:square ">
                <li>Artist <span class="label label-important">Middle name</span> not required.</li>
                <br />
                <li>Artist <span class="label label-important">Stage name</span> must be unique.</li>
                <br />
                <li>You can link one or more <span class="label label-important">Genres</span> to an artist.</li>
            </ol>
    </p>
</div> 
