
<ul class="breadcrumb" style="margin-left: -15px">
    <li>
        <a href="{{ path('_welcome')}}" title="Home">Home</a> <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ path('vanessa_artist_list')}}.html" title="Artist list">Artists</a> <span class="divider">&raquo;</span>
    </li>
    <li class="active">{{ action }}</li>
</ul>

