
<ul class="breadcrumb" style="margin-left: -15px">
    <li>
        <a href="{{ path('_welcome')}}" title="Home">Home</a> <span class="divider">&raquo;</span>
    </li>
    <li>
        <a href="{{ path('vanessa_transaction_inbound_list')}}.html" title="Inbound list">Inbound</a> <span class="divider">&raquo;</span>
    </li>
    <li class="active">{{ action }}</li>
</ul>

